/*Fontes que estado sendo usado no site: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puppies+Play&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html{
    font-size: 16px; /* Tamanho de fonte base, caso queira usar alguma medida que não seja fixa */
    height: 100%;
    z-index: 0;
}
* {
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 0.05px 0.06px rgba(0, 0, 0, 0.16);
}
main{
  flex: 1 1 0; 
}
.negrito{
    font-weight: bold;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
#background{
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1; /*Posição da exbição da DIV*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Imagem-salao.jpg);
    filter: blur(3px); /*Desfoque*/
    position: fixed;
    border: transparent;
    
}
/*MENU*/
    #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #menu-ret{ /*Estilizando ret rosa*/
        background-color:#ED6CA5;
        border-radius: 1.25rem;
        width: 31.35rem;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
        height: 3.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3.75rem 0;
    }
    .nav-texto{
        text-transform: uppercase;
        font-family: Poppins, sans-serif;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.25rem;
        font-weight: 200;
        letter-spacing: 0.19rem;
    }
    #menu-ret-nav-ul{ /*Texto do ret rosa*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        list-style: none;
    }
    #menu-logo-img{ /*TAMANHO IMAGEM*/
        width: 18.75rem;
        height: 18.75rem;
    }
    #texto-logo-area, #menu-logo-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    #texto-logo{
        color: #FFF;
        text-shadow: 0px 0.375rem 0.75rem rgba(0, 0, 0, 0.24); /* 6px / 16px = 0.375rem, 12px / 16px = 0.75rem */
        font-family: "Puppies Play";
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px;

    }
    #texto2-logo{
        color: #FFF;
        text-shadow: 0px 0.375rem 0.75rem rgba(0, 0, 0, 0.24); /* 6px / 16px = 0.375rem, 12px / 16px = 0.75rem */
        font-family: Poppins;
        font-size:1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 0px; 
    }


/*FIM DE ESTILIZAÇÃO DO MENU*/


/*Footer*/
footer{
    width: 100%;
}
#footer-area-rosa{/* FOOTER AREA ROSA */
    background-color:#FF7C90;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12); 
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    text-align: center;
}
#footer-texto3{
    color: black;
    font-weight: 350;
    padding: 0.7rem;
}
#dev{
    font-style: italic;
}


#texto{
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    margin: 3.13rem;
    height: auto;
}


/*----------------RESPONSIVO 4K----------------------------------*/
  @media(min-width: 2159px) and (max-width:3840px){
    html{
    font-size: 32px; /* Ajustando "REM" */
    }     
  }
  @media(min-width: 1536px) and (max-width:2560px){
    html{
    font-size: 32px; /* Ajustando "REM" */
    }     
  }  
/*----------------Tablet está OK----------------------------------*/

